.single-user {
  justify-content: left;
  align-items: flex-start;
  .center-info-container {
    justify-content: left;
    margin-top:15px;
    .wide-info {
      padding:30px;
      margin:0px;
      max-width:100%;
      .ant-card-body {
        padding:0px;
        margin:0px;
      }
    }
  }
}


.force-create-project-button {
  position: relative;
  bottom: 5px;
}

.single-user-divider {
  margin-top: 16px;
}
